<div class="dropdown">
  <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Manage
  </button>
  <ul class="dropdown-menu">
      <a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">Manage Db</a>
      <a class="dropdown-item" asp-area="contact" asp-controller="Contact" asp-action="Index">Lien He</a>
  </ul>
</div>