@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService;
@{
  var result = await authorizationService.AuthorizeAsync(this.User, "ViewManageMenu");
}
@if (result.Succeeded)
{
  <div class="dropdown">
    <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Manage
    </button>
    <ul class="dropdown-menu">
      <a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">Manage Db</a>
      <a class="dropdown-item" asp-area="contact" asp-controller="Contact" asp-action="Index">Lien He</a>
      <a class="dropdown-item" asp-area="Identity" asp-controller="Role" asp-action="Index">Role Manage</a>
      <a class="dropdown-item" asp-area="Identity" asp-controller="User" asp-action="Index">User Manage</a>
      <a class="dropdown-item" asp-area="Blog" asp-controller="Blog" asp-action="Index">Category Manage</a>
      <a class="dropdown-item" asp-area="Blog" asp-controller="Post" asp-action="Index">Post Manage</a>



    </ul>
  </div>
}