@page "/aboutrazor.cshtml"
@{
    Layout = "_Layout";
}
<h1>Gioi thieu ve razor</h1>
<p> 
Razor la 1 template engine trong .net nos la 1 template  mac dinh cua MVC. No co chuc nang dung HTML va nhung code
c#
</p>